/* purgecss start ignore */
@import 'tailwindcss/base';

.format-html{
  overflow-x: hidden;
}

@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

.prose h2 {
  font-size: inherit;
}

.prose :not(pre) > code.language-text {
  white-space: pre-line;
}